registry=http://nexus.saas.hand-china.com/content/groups/hzero-npm-group/
# registry=http://nexus.saas.hand-china.com/repository/hskp-front/
puppeteer_skip_chromium_download=1
ignore-engines=true
strict-peer-dependencies=false
node-linker=hoisted
shamefully-hoist=true
frozen-lockfile=false
